* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 110px;
  /* background: rgba(20, 112, 197, 1); */
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.header-logo {
  width: 150px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-buttons button {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.game-body {
  display: flex;
  height: calc(100vh - 110px);
}

.body-left {
  flex: 1.5;
  padding: 10px;
  background-color: rgba(121, 156, 198, 1);
}

.list-game {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: white;
  height: 100%;
}

.item-game {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
}


.body-right {
  flex: 10;
}

.body-top {}

.nav {
  display: flex;
}

.nav-item {
  flex: 1;
  text-align: center;
  font-size: larger;
  font-weight: 400;
  background: rgba(7, 43, 79, 1);
  color: white;
  padding: 10px;
  border-right: 2px solid white;
}

.body-bottom {
  display: flex;
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.info-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex: 1;
}

.info-top button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: 2px solid white;
  color: white;
  background-color: greenyellow;
}

.info-top button i {
  /* width: 40px;
  height: 40px; */
  font-size: 20px;
}

.info-avatar {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: auto;
  width: 80%;
}

.info-bottom {
  margin: auto;
  flex: 1;
}

.type {
  width: 50px;
  height: 50px;
}

.info .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

/* .info .buttons button {
  width: 60%;
  padding: 10px;
  border: none;
  background: orange;
  border: 1px solid orangered;
  border-radius: 5px;
} */

.board {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid orange;
  margin-top: 2px;
  position: relative;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 40px;
  height: 40px;
  border: 1px solid orange;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.start {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* background-color: white; */
  /* opacity: 0.7; */
  /* filter: blur(1); */
}

.start .logo {
  width: 70%;
  height: 300px;
  margin: auto;
}

.start .buttons {
  width: 70%;
  margin: auto;
  text-align: center;
}
/* 
.start .buttons button {
  border-radius: 5px;
  border: none;
  font-size: x-large;
  font-weight: bold;
  padding: 20px 40px;
  color: white;
  background: greenyellow;
} */

         
.btn-grad-1 {
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%);
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.btn-grad-1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.btn-grad-2 {
  background-image: linear-gradient(to right, #C02425 0%, #F0CB35  51%, #C02425  100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* display: block; */
  /* width: fit-content; */
  width: 80%;
  border: none;
}

.btn-grad-2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.btn-grad-3 {
  background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  /* box-shadow: 0 0 20px #eee; */
}

.btn-grad-3:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


         
.btn-grad-4 {
  background-image: linear-gradient(to right, #0cebeb 0%, #20e3b2  51%, #0cebeb  100%);
  margin: 10px;
  /* padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50%;
  display: block;
}

.btn-grad-4:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
